*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;

}
/* .btnBox{
  background-color: black;
  border-style: 2px solid blue;
  border-color: blue;
  border-radius: 5px;
} */
#btn{
  width: 250px;
  height: 40px;
  background-color: black;
  border-style: 2px solid blue;
  border-color: blue;
  border-radius: 5px;
}
#eye{
  width: 700px;
  height: 500px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
#eye img{
  width: 100%;
}
#result{
  color: blue;
  font-family: monospace;
  margin-top: 20px;
}
.fa-microphone{
  font-size: 25px;
  color: blue;
}
#input{
  width: 80%;
  height: 30px;
}
#btnMeteo{
  margin-left: 5%;
  width: 20%;
  height: 30px;
}
#meteoBox{
  width: 250px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
